
.header {
  border-top: 2px solid;
  border-bottom: 2px solid;
  line-height: 3em;
  text-align: center;
  padding: 20px;
}

.title {
  font-family: helvetica;
  text-align: center;
  font-size: 3em;
  margin: 0px;
}

main {
  width: 600px;
  margin: auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #ff7243;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1em;
}

.user {
  border: 1px solid;
  border-radius: 5px;
  width: 600px
  padding: 5px;
  margin: 5px;
}

.picture {
  display: inline-block;
  width: 35%;
  margin: 5px;
}

.picture > img {
  border: 1px solid;
  border-radius: 5px;
}


.info {
  display: inline-block;
  width: 58%;
  text-align: left;
  padding-left: 1em;
  vertical-align: top;
}

.searchTitle {
  font-family: helvetica;
  font-size: 2em;
  margin-top: 1em;
}
